@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #003147;
  --foreground: #171717;
  --secondary: #5A93AD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ubuntu: var(--font-ubuntu);
}

body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-ubuntu);
}


h1 {
  font-size: 2rem;
  font-weight: 100;

  line-height: 1;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
 
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
 
  line-height: 1.3;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
 
  line-height: 1.35;
}

.wrapper {
  padding-inline: 1rem;
}

.footer-sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 50;
}


.fade {
    animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

