@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #003147;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ubuntu: var(--font-ubuntu);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu);
}