
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #003147;
  --foreground: #171717;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ubuntu: var(--font-ubuntu);
}



body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-ubuntu);
}



/* heading styles */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  line-height: 1.35;
}


.wrapper {
  padding: 1rem;
}


/* animations */
.fade {
    animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}